


<div md-dialog-content>
  <div *ngIf="loading">
    <md-progress-spinner
      class="example-margin"
      mode="indeterminate"
    >
    </md-progress-spinner>
  </div>

  <div *ngIf="!loading">
    <h1 md-dialog-title>{{cake.name}}</h1>
    <img md-card-image [attr.src]="cake.imageUrl">
    <span><strong>Comment:</strong> {{cake.comment}}</span>
    <span><strong>Yum Factor:</strong> {{cake.yumFactor}}</span>
  </div>

</div>
<div md-dialog-actions>
  <button md-button (click)="delete()" tabindex="2">Delete</button>
  <button md-button (click)="edit()" tabindex="-1">Edit</button>
  <button md-button [md-dialog-close]="false">Close</button>

</div>
