.example-card {
  width: 100%;
  margin: 1%;
}

.example-card img {
  max-height: 200px;
}

.example-header-image {
  background-image: url('../assets/images.jpg');
  background-size: cover;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-item {
  width: 30%;
}
