<button md-raised-button (click)="openAddCakeDialog()">Add Cake</button>

<div *ngIf="loading">
  <md-progress-spinner
    class="example-margin"
    mode="indeterminate"
  >
  </md-progress-spinner>
</div>

<div class="flex-container" *ngIf="!loading">
  <h2 class="cake-header">Welcome to my cakes!</h2>
  <div class="flex-item"  *ngFor="let cake of cakes">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>{{cake.name}}</md-card-title>
      </md-card-header>

      <md-card-content style="padding-top: 10px;">
        <img md-card-image [attr.src]="cake.imageUrl" width="90%">
      </md-card-content>

      <md-card-actions>
        <button md-raised-button (click)="openViewCakeDialog(cake.id)">View Cake</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
