<md-form-field class="example-full-width">
  <input mdInput placeholder="Name" [(ngModel)]="data.name">
</md-form-field>

<md-form-field class="example-full-width">
  <textarea mdInput placeholder="Comment" [(ngModel)]="data.comment"></textarea>
</md-form-field>

<md-form-field class="example-full-width">
  <input mdInput placeholder="Image URL" [(ngModel)]="data.imageUrl">
</md-form-field>

<md-select placeholder="Yum Factor" name="yumFactor" [(ngModel)]="data.yumFactor" class="example-full-width">
  <md-option *ngFor="let factor of yumFactors" [value]="factor.value">
    {{factor.viewValue}}
  </md-option>
</md-select>


<md-dialog-actions>
  <button md-button (click)="add()">Save</button>
  <button md-button (click)="close()">Cancel</button>
</md-dialog-actions>
